<%- include header %>

<div class="jumbotron">
    <h1>Bienvenido,
        <%= user.user_name %>
    </h1>
    <p> <a class="btn btn-lg btn-primary" href="/employee" role="button">Consultar empleados »</a> </p>
</div>

<%- include footer %>